/nbproject/
/protected/runtime/*.*
/runtime/*.*
*.log
*.txt
/.idea/
*.sh
*.xlsx
*.zip
*.tar.gz
*.tar
*.rar
.gitlab-ci.yml
node_modules/
.idea
npm-debug.log
yarn-error.log
.DS_Store
package-lock.json
.vscode/
